@import "./variables";


body {
  margin: 0;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6,
.heading-text {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

h1 {
  color: $color-satellite;
}

a {
  text-decoration: none;

  &:link { color: $color-link }
  &:visited { color: $color-visited }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.home-header {
  padding: 1rem 2rem;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

main,
footer {
  padding: 1rem 2rem;

  .wrapper {
    margin: 1rem auto;
    max-width: 680px;
  }
}

main {
  display: block; // for IE11
  // make sure footer stays at bottom on short pages
  min-height: calc(100vh - 400px);
}

footer {
  background-color: $color-sun-1;
  color: $color-text-inverse;
  a {
    &:link,
    &:visited { color: $color-text-inverse }
  }
}

.contact {
  //font-size: 0.875rem;
}

.form-turing {
  display: none !important;
}

// Lazy responsive images
img:not([src$=".svg"]) {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
