@import "./variables";


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6,
.heading-text {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

h1, h2 {
  color: $color-satellite;
}

a {
  text-decoration: none;

  &:link { color: $color-link }
  &:visited { color: $color-visited }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.page-header {
  padding: 1rem 2rem;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

main,
section,
footer {
  padding: 1rem 2rem;

  .wrapper {
    margin: 1rem auto;
    max-width: $page-col-width;
  }
}

main {
  display: block; // for IE11
  // make sure footer stays at bottom on short pages
  min-height: calc(100vh - 400px);
}

footer,
.section-menu
 {
  background-color: $color-sun-1;
  color: $color-text-inverse;
  a {
    &:link,
    &:visited { color: $color-text-inverse }
  }
}

.form-turing {
  display: none !important;
}

// Lazy responsive images
img:not([src$=".svg"]) {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

$page-nav-font-size: $base-font-size;
$page-nav-v-padding: .5rem;
$sticky-page-nav-height: (
  $page-nav-font-size * $base-line-height
  + $page-nav-v-padding * 2
);


.home-section {
  height: 50vh;// temp
  padding-top: $sticky-page-nav-height;
}

.section-menu {
  display: flex;
  justify-content: flex-end;
  font-size: $page-nav-font-size;
  padding: 0 0.5rem;
  background: #fff;

  a {
    &:link,
    &:visited { color: $color-text }
  }

  > * {
    padding: $page-nav-v-padding;
  }
}

.sticky-page-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);

  + * {
    margin-top: $sticky-page-nav-height;
  }
}