<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title -%}{{ title }}{%- else -%}{{ site.description }}{%- endif -%}</title>
  <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}{{ site.description }}{%- endif -%}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300|Open+Sans:400,600&display=swap">
  <link rel="stylesheet" href="/css/main.css">

  <script async src="/js/main.js"></script>
</head>
<body>
<header class="home-header">
  <img class="header-logo" alt="Distant Sun Counselling" src="/svg/primary-logo-white.svg" height="200">
</header>
<main>

{{ layoutContent | safe }}

</main>
<footer>
  {% include "components/contact-form.njk" %}
</footer>
</body>
</html>

