<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title -%}{{ title }}{%- else -%}Distant Sun Counselling{%- endif -%}</title>
  <link rel="stylesheet" href="/css/main.css">
  <script async src="/js/main.js">
</head>
<body>
{{ layoutContent | safe }}

<footer>
  {% include "components/contact-form.njk" %}
</footer>
</body>
</html>

