<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title -%}{{ title }}{%- else -%}{{ site.description }}{%- endif -%}</title>
  {%- if site.description -%}
  <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}{{ site.description }}{%- endif -%}">
  {%- endif -%}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300|Open+Sans:400,600&display=swap">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/png" sizes="64x64" href="/images/icons/icon-64x64.png">
  <link rel="manifest" href="/manifest.json">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script async src="/js/main.js"></script>
</head>
<body>
<header class="home-header">
  <img class="header-logo" alt="Distant Sun Counselling" src="/svg/primary-logo.svg" height="200">
</header>
<main>
  <div class="wrapper">

{{ layoutContent | safe }}

  </div>
</main>
<footer>
  <div class="wrapper contact">
    Contact:
    <div>{% obfuscate site.email, "mailto" %}</div>
    <div>{% obfuscate site.phone , "tel" %}</div>
  </div>
</footer>

{% include 'partials/cms-login.njk' %}
</body>
</html>
