<form
  name="contact"
  method="POST"
  data-netlify="true"
  netlify-honeypot="turing"
>
  <input type="hidden" name="subject" value="Contact from page '{{ title }}'"/>
  <p>
    <label>Your Name: <input type="text" name="name"/></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email"/></label>
  </p>
  <p class="form-turing">
      <label>Don’t fill this out if you're human: <input type="text" name="turing" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
