<form
  name="contact"
  method="POST"
  data-netlify="true"
  netlify-honeypot="turing"
>
  <p>
    <label>Your Name: <input type="text" name="name"/></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email"/></label>
  </p>
  <p style="display:none">
      <label>Don’t fill this out if you're human: <input name="turing" /></label>
  </p>
  <p>
    <label>Subject: <input type="text" name="subject"/></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
