<nav class="section-menu">
  {% for section in collections.homeSections %}
    <a href="#{{ section.data.title | slug }}">{{ section.data.title }}</a>
  {% endfor %}
    <a href="#top" title="Top of page">&#8593;</a>
</nav>